<!-- <footer class="py-5 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white">Copyright &copy; Source Led 2019</p>
  </div>
</footer> -->

<footer id="footer" class="site-footer">
  <div class="footer-widget" style="float: right;">
    <div class="widget-title">Follow Us</div>
    <div class="widget">
      <ul id="menu-social">
        <li>
          <a title="facebook" href="#"><i class="fa fa-facebook-square"></i></a>
          <a title="twitter" href="#"><i class="fa fa-twitter-square"></i></a>
          <a title="youtube" href="#"><i class="fa fa-youtube-square"></i></a>
          <a title="linkedin" href="#"><i class="fa fa-linkedin-square"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="footer-widget">
    <div class="widget-title">Quick Link</div>
    <div class="widget">
      <ul>
        <li><a [routerLink]="['/about']">About Sharda Motive</a></li>
        <li><a title="Contact" [routerLink]="['/contact']">Contact</a></li>
        <li><a title="Service" href="javascript:void()">Service </a></li>
        <li><a title="Our Product" [routerLink]="['/product']">Our Product </a></li>
      </ul>
    </div>
  </div>
</footer>

<div id="footer-bottom" class="clr">
  <div id="footer-bottom-inner" class="container clr">
    <div id="copyright" class="clr"> Copyright 2019-2020 Sharda Motive - All Rights Reserved.&nbsp;<a title="Privacy Policy"
        href="#" target="_blank" data-wpel-link="external" rel="nofollow external">Privacy
        Policy</a>&nbsp;| <a title="Terms and Conditions" href="" target="_blank" data-wpel-link="internal">Site Terms
        &amp; Disclosures</a></div>
  </div>
</div>