<!-- Intro Content -->
<div class="row">
  <div class="col-lg-12">
    <h2 class="h2-header">SHARDA MOTIVE</h2>
    <hr class="hr-header" />
    <p style="padding-top: 20px;" class="font-text"> Established in the year <b>2018</b>, we, Gurgaon based <b>Sharda
        Motive</b> one of the
      prominent
      manufacturers and suppliers of an extensive range of supreme quality Lighting Products.
      The Led Lighting products range offered by us comprises of LED Tube Lights,
      LED Bulbs and Solar LED Light. The raw materials, which are best in the market,
      are used for manufacturing of these Bulb's products.
      These products are highly appreciated for their trendy design,
      low power consumption and longer serving life. With our aid of our well-equipped assembly
      equipment coupled with our experience in Electronics Product, These Lighting products are
      available with us in user-defined specifications also and <b>SOURCE LED</b> name is our brand name.</p>
    <p class="font-text">We believe in establishing and maintaining a long-term and mutually beneficial relationship
      with our customers
      by
      offering them optimum quality products at reasonable prices. Being a quality conscious organization,
      the best possible quality of the offered product range is never compromised and is maintained at all
      times through different quality assurance checks. We offer our products under the brand name <b>"SOURCE LED"</b>.</p>
    <p class="font-text"> We have been able to gain huge clientele across the domestic markets of India. Owing to his
      innovative business polices coupled with transparent transaction practices, we have been able
      to gain the trust of our valuable customers in the most efficient manner.</p>

  </div>
</div>
<div class="row" style="padding-top: 20px;">
  <div class="col-lg-12" style="padding-bottom: 60px;">
    <h2 class="h2-header">ABOUT CEO</h2>
    <hr class="hr-header" />
  </div>
  <div class="col-lg-6">
    <img class="img-fluid rounded mb-4" src="/assets/images/simple-akash-kumar-500x500.jpg" alt="">
  </div>
  <div class="col-lg-6">
    <p class="font-text"> <span style="font-size:24px;">F</span>ounded in Gurugram, the Haryana, we’ve led the lighting
      industry. We
      focus on providing our customers with
      quality, energy-efficient lighting products, systems and services.</p>
    <p class="font-text"> Source Led smart LED lights are based on cutting edge Bluetooth mesh technology that provides
      consumers with a
      wide range of combination & control.</p>
    <p class="font-text"> The smart LED lights can be easily managed via a mobile app – available on both iOS &
      Android, enhancing
      consumer convenience.</p>
    <p class="font-text">With presence in all major cities across India, our current portfolio contains smart Bulbs,
      Downlights &
      Spotlights. Forming a complete offering to make your home a smart lighting home.</p>
  </div>
</div>